node_modules
npm-debug.log
.env
.git
.gitignore 


/uploads/audio/*
/uploads/audios/*
/uploads/avatars/*
/uploads/covers/*
/uploads/events/*
/uploads/processed/*
/uploads/waiting-process/*
